HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn

### Eclipse IDE ###
/.metadata/
\bin
\.classpath
\.project
\.settings
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

### VS Code ###
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

### Angular ###
.angular/

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
./node_modules
npm-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db

booksApi/node_modules
booksApi/node_modules/*